.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 300px;
    width: 450px;
    border: 1px solid var(--border-color);
    border-radius: 15px;
    padding-bottom: 15px;
}

.wordContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 130px;
}

.word{
    font-size: 45px;
    color: var(--black);
}

.translate{
    font-size: 30px;
    color: #3d3d3d;
}

@media (max-width: 500px) {
    .container{
        width: 370px;
        margin: 10px 0;

    }
}

.editIcon{
    font-size: 30px;
    align-self: end;
    margin: 0 10px;
}