.inputLine{
    padding: 10px;
    font-size: 20px;
    border: 1px solid var(--border-color);
    border-radius: 10px;
    text-align: center;
}

.answer{
    text-align: center;
    font-size: 25px;
}

.correct{
    color: #069d06;
    font-size: 40px;
}

.wrong{
    color: red;
}

@media only screen and (max-width: 500px) {
    .container{
        width: 360px;
    }
}