.container{
    border: 1px solid rgba(161, 161, 161, 0.46);
    box-shadow: 0 0 10px 0 rgba(161, 161, 161, 0.46);
    border-radius: 10px;
    height: 300px;
    width: 450px;
}

.inputLine{
    width: 80%;
    padding: 10px;
    font-size: 20px;
    border: 1px solid rgba(161, 161, 161, 0.46);
    border-radius: 10px;
    text-align: center;
}

.answer{
    text-align: center;
    font-size: 25px;
}

.correct{
    color: #069d06;
}

.wrong{
    color: red;
}