
.lang{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1px 10px;
    border-radius: 50px;
    color: var(--black);
}

.lang select{
    font-size: 22px;
    border: none;
    appearance: none;
    margin: 0 5px;
    outline: none;
    border-radius: 5px;
}