.menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    background-color: rgb(255, 255, 255);
    color: #646464;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 15px;
    width: 230px;
    padding: 5px;
    position: absolute;
    top: 55px;
    right: 25px;
    opacity: 0;
    transform: translateY(-10px);
    visibility: hidden;
    transition: 0.3s;
    z-index: 1000;
}

.menu.active{
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.menu__list{
    list-style: none;
    padding: 0 10px;
    margin: 0;
    width: 100%;
}

.menu__items{
    display: flex;
    align-items: center;
    border-radius: 10px;
    margin: 5px 0;
    width: 100%;
    text-align: center;
    cursor: pointer;
    transition: 0.25s;
    font-size: 18px;
}

.menu__items__icon{
    font-size: 22px;
    margin: 0 5px;
}