.container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 1px solid rgba(161, 161, 161, 0.46);
    box-shadow: 0 0 10px 0 rgba(161, 161, 161, 0.46);
    border-radius: 10px;
    height: 300px;
    width: 95vw;
    max-width: 450px;
}

.grid{
    display: grid;
    grid-template-columns: 2fr 2fr;
    gap: 10px;
    align-items: center;
}

.grid button{
    width: 150px;
}
