.mainContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
}

.title{
    text-align: center;
    font-weight: normal;
}

.constructor{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid var(--border-color);
    margin: 10px;
    padding: 20px;
    border-radius: 5px;
    height: 270px;
    cursor: default;
    transition: 0.5s;
    box-shadow: 0 3px 10px #cbcbcb;
    width: 270px;

    &:hover{
        box-shadow: 0 15px 10px #cbcbcb;
    }

}

.constructor img{
    width: 40px;
    height: 40px;
    display: block;
    opacity: 0.9;
}

.constructor h3{
    text-align: center;
    font-weight: normal;
    font-size: 1.1rem;
    margin: 5px 0;
}

.description{
    color: grey;
}

.button{
    background-color: #100e0e;
    color: white;
    padding: 5px;
    border-radius: 5px;
}

.duration{
    display: flex;
    justify-content: space-between;
    color: #3f3f3f;
}

@media screen and (max-width: 1200px) {
    .mainContainer{
        display: flex;
        flex-direction: column;
}}


@media screen and (max-width: 1050px) {
    .mainContainer{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        width: 300px;
    }}


@media screen and (max-width: 1120px) {
    .trainList{
        display: flex;
        flex-direction: column;
    }
}
