*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0 40px;
    font-family: sans-serif;
}

a{
    text-decoration: none;
    color: inherit;
}

@media only screen and (max-width: 600px) {
    body{
        margin: 0 20px;
    }
}