/*@import url('https://fonts.googleapis.com/css2?family=Comic+Relief:wght@400;700&family=Dancing+Script:wght@400..700&family=Delius&family=Edu+VIC+WA+NT+Hand:wght@400..700&family=Lora:ital,wght@0,400..700;1,400..700&family=Moon+Dance&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0 40px;
    font-family: 'Comic Relief', sans-serif;
    /*font-family: 'Comic Relief', cursive;*/
}

a{
    text-decoration: none;
    color: inherit;
}

@media only screen and (max-width: 600px) {
    body{
        margin: 0 20px;
    }
}